<div class="container">
  <div class="header">Plotter</div>
  <div class="nav">
    <div class="columns-header">Columns</div>
    <div class="columns-list">
      <div class="column" draggable [dragData]="column" *ngFor="let column of columns">
        {{column.name}}
      </div>
    </div>
  </div>
  <div class="main">
    <div>
      <label>Dimension</label>
      <div class="div-textarea" [dropScope]="dropAllowedDimension" droppable (onDrop)="onDropDimension($event)">

        {{selectedDimension}}
      </div>
<div class="clear"><button (click)="clearDimension()">Clear</button></div>
    </div> 
    <div>
    <label >Measures</label>
    <div class="div-textarea" [dropScope]="dropAllowedMeasure" droppable (onDrop)="onDropMeasure($event)">
      {{selectedMeasures.join(" ,")}}
    </div>
   <div class="clear"> <button (click)="clearMeasures()">Clear</button></div>
  </div>
    <div class="chart">
      <ngx-charts-line-chart [legend]="legend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
        [xAxis]="xAxis" [yAxis]="yAxis" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [timeline]="timeline"
        [results]="data"  >
      </ngx-charts-line-chart>
    </div>
  </div>
  <div>